# Arquivos compilados Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
env/
.env

# Configurações de IDE
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp
